<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DB" connectionString="Data Source=(local);Initial Catalog=Restaraunts2;Trusted_Connection=True;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
